<div class="map_panel">
     <div id="main_map"></div>
</div>

<div class="work_panel" id="work_panel">
    <h2 class="header">Analytics for <span id="country_name"></span></h2>
    
    <div class="content" id="#content_panel">
        <div class="chart_container">
            <h3 id="chart_1_title"></h3>
            <canvas id="chart1" width="300" height="300"></canvas>
        </div>
        <!--<div class="chart_container">
            <h3>Chart 2</h3>
            <canvas id="chart2" width="300" height="300"></canvas>
        </div>
        <div class="chart_container">
            <h3>Chart 3</h3>
            <canvas id="chart3" width="300" height="300"></canvas>
        </div>-->
        <span id="no_records">
        
        </span>
    </div>
    
</div>

